.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category {
    text-align: left;
    font-size: 20px;
    padding-left: 50px;

}

hr{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "*";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.15em;
    background: white;
}

.jumbotron {
  background: url("https://www.xmple.com/wallpaper/gradient-linear-blue-purple-5120x2880-c2-8a2be2-000080-a-0-f-14.svg");
  background-size: cover;
  font-size: 50px;
  color: white;
  height: 300px;
}
