.Navbar {
  background-color: white;
  text-align: right;
  margin: 50px;
}

.Navbar-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  float: left;
}

.navbar-form {
  text-align: right;
  margin-top: 20px;
}
